img[alt="Logo"] {
    border-radius: 50%; /* Circle */
    width: 200px; /* custom_with */
    height: 200px; /* custom_height */
    object-fit: cover; /* set the center */
}

body {
    text-align: justify;
}

h4 + p {
    margin-top: 0;
}

.left-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-right .project-title {
    margin: 0;
}

.left-right .project-date {
    margin: 0;
    font-style: italic;
}