img[alt="Logo"] {
    border-radius: 50%; /* Circle */
    width: 200px; /* custom_with */
    height: 200px; /* custom_height */
    object-fit: cover; /* set the center */
}

.justified-text {
    text-align: justify;
}